[submodule "backend"]
	path = backend
	url = https://github.com/CoolestProjectsBelgium/coolestproject-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/CoolestProjectsBelgium/coolestproject-registratie.git
